@import "style-variables";

body {
  font-family: $lato !important;

  form {
    margin: 100px;
  }

  .jumbotron {
  	background-color: $red;
  	height: 450px;

    .container {
      margin-top: 60px;

      .course-title {
        max-width: 100%;
        overflow: auto;
        float: left;

        h3 {
          @media screen and (max-width: $small) {
            margin-top: 30px;
            font-size: 2.5em;
          }

          @media screen and (max-width: $extra-small) {
            margin-top: 30px;
            font-size: 2.5em;
          }
        }

        .display-5 {
          font-weight: 300;
          margin-top: 20px;

          @media screen and (max-width: $small) {
            font-size: 1.5em;
          }

          @media screen and (max-width: $extra-small) {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .statistics {
  	position: relative;
  	top: -170px;
    color: white;
    background: $dark;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    .stats_box {
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .tabcontent {
        margin: 30px;
        overflow: auto;
        white-space: nowrap;

        .add {
          background-color: $orange;
          color: white;
          font-size: 15px;
          margin-top: -2px;
          margin-left: 8px;
          padding: 4px 9px;
        }

        h3 {
          margin-bottom: 35px;
        }


        table {

          th {
            color: $orange;
            font-size: 20px;
            width: auto;
          }

          th[EditType="TextBox"] {
            text-decoration: underline;
          }

          td {
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            overflow: hidden;
            width: 100%;

            input {
              height: 30px;
              line-height: 30px;
              width: 100%;
            }

            .approve, .decline {
              margin: 0 5px;
              width: 30px;
              height: 30px;

              i {
                font-size: 20px;
                position: relative;
                top: -3px;
                left: -7px;
              }
            }
          }
        }
      }
    }

    .tab button {
      padding: 30px;
      margin: 0;
      width: 100%;
      border: none !important;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.2s;
      font-size: 20px;
      background-color: transparent;
      color: white;
      height: 100%;
    }

    .tab button.active, .tab button:hover {
      background-color: $orange;
      color: white;
    }
  }
}