@import "style-variables";

$rating_width: 50%;
$grade_width: 70%;
$workload_width: 80%;

/*progrss bar animation*/
@mixin progress-bar($bar_name, $time) {
  -webkit-animation-name: $bar_name; 
  -webkit-animation-duration: $time;
  -moz-animation-name: $bar_name;
  -moz-animation-duration: $time;
  -o-animation-name: $bar_name; 
  -o-animation-duration: $time;
  animation-name: $bar_name; 
  animation-duration: $time;
}

body {
  background-color: white;
  font-family: $lato !important;

  .good {
    background-color: $good;
  }

  .neutral {
    background-color: $neutral;
  }

  .bad {
    background-color: $bad;
  }

  #notif:hover {
    text-decoration: none;
  }

  .jumbotron {
  	background-color: $yellow;
    height: 450px;

    @media screen and (max-width: $extra-small) {
      height: 750px;
    }

    .container {
      margin-top: 50px;

      .course-title {
        max-width: 70%;
        overflow: auto;
        float: left;

        @media screen and (max-width: $small) {
          max-width: 100%;
          width: 100%;
        }

        @media screen and (max-width: $extra-small) {
          max-width: 100%;
          width: 100%;
        }

        h1 {
          font-weight: 300;

          @media screen and (max-width: $small) {
            font-size: 2em;
          }

          @media screen and (max-width: $extra-small) {
            font-size: 2em;
          }
        }

        h3 {
          font-weight: 300;

          @media screen and (max-width: $small) {
            font-size: 3em;
          }

          @media screen and (max-width: $extra-small) {
            font-size: 3em;
          }
        }
      }

      .course-info {
        float: right;
        margin-top: 20px;
        max-width: 25%;
        overflow: auto;

        @media screen and (max-width: $small) {
          float: left;
          max-width: 100%;
          width: 100%;
        }

        @media screen and (max-width: $extra-small) {
          float: left;
          max-width: 100%;
          width: 100%;
        }

        a {
          color: black;
        }

        a:hover {
          color: darkslateblue;
          text-decoration: none;
        }
      }
    }
  }

  .statistics {
  	position: relative;
  	top: -170px;
    color: white;
    background: $dark;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $small) {
      top: -100px;
    }
    @media screen and (max-width: $extra-small) {
      top: -400px;
    }

    .stats_box {
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .stats_box_content {
        padding: 30px;

        @media screen and (max-width: $small) {
          padding: 20px;
        }

        @media screen and (max-width: $extra-small) {
          padding: 20px;
        }
      }

      #faculty_choice {
        margin: 0 auto;

        a {
          color: white;
        }

        a:hover {
          color: lightgoldenrodyellow;
          text-decoration: none;
        }

        img {
          @include border-radius(60px);
          width: 120px;
          height: 120px;
          border: 5px solid white;
          display: block;
          margin-left: auto;
          margin-right: auto;

          @media screen and (max-width: $large) {
            width: 80px;
            margin-top: 20px;
            height: 80px;
          }
          @media screen and (max-width: $small) {
            width: 100px;
            height: 100px;
          }
          @media screen and (max-width: $extra-small) {
            width: 100px;
            height: 100px;
          }
        }

        img:hover {
          border-color: lightgoldenrodyellow;
        }

        button {
          background: transparent;
          border: none;
          text-align: center;
          vertical-align: middle;
          display: block;
          margin: 0 10px;

          i {
            font-size: 40px;
            color: $green;
            line-height: 120px;

            @media screen and (max-width: $large) {
              font-size: 30px;
            }
            @media screen and (max-width: $small) {
              font-size: 40px;
              margin-top: 20px;
            }
            @media screen and (max-width: $extra-small) {
              font-size: 40px;
            }
          }
        }

        h4 {
          text-align: center;
          padding-top: 30px;
        }
      }

      #tag_list {
        .tags a {
          @include border-radius(2px);
          color: white;
          margin: 0 3px 6px 0;
          padding: 5px 10px;
          display: inline-block;
        }

        .tags a.primary {
          @extend %color-primary;
        }

        .tags a.success {
          @extend %color-success;
        }

        .tags a.info {
          @extend %color-info;
        }

        .tags a.warning {
          @extend %color-warning;
        }

        .tags a.danger{
          @extend %color-danger;
        }
      }

      #bar_stats {
        .progress {
          height: 6px;
          background: rgba(0, 0, 0, 0.3);
          margin-top: 10px;
          margin-bottom: 15px;
        
          .progress_bar {
            float: left;
            @include border-radius(2px);
          }

          #rating_progress_bar {
            @include progress-bar(rating_progress_bar, 2s);
            width: $rating_width;
          }

          #grade_progress_bar {
            @include progress-bar(grade_progress_bar, 2s);
            width: $grade_width;
          }

          #workload_progress_bar {
            @include progress-bar(workload_progress_bar, 2s);
            width: $workload_width;
          }
        }
      }
    }
  }

  #add-comment, #add-prof {
    float: left;
    width: 200px;
    position: relative;
    top: -130px;
    margin-right: 10px;

    @media screen and (max-width: $small) {
      top: -80px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: $extra-small) {
      top: -350px;
      margin-bottom: 10px;
    }
  }

  #sortby {
    form {
      width: 230px;
      position: relative;
      top: -130px;
      left: 0;
      float: right;

      @media screen and (max-width: $small) {
        top: -70px;
        float: left;
      }

      @media screen and (max-width: $extra-small) {
        top: -320px;
        float: left;
      }
    }
  }

  .modal-content {
    @include border-radius(11px);

    .modal-body {
      margin: 0 auto;
      width: 80%;

      @media screen and (max-width: $large) {
        width: 90%;
      }

      @media screen and (max-width: $small) {
        width: 100%;
      }

      @media screen and (max-width: $extra-small) {
        width: 100%;
      }
    }

    .comment-bar{
      color: whitesmoke;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/background-img.jpg);
      padding: 10px 0;

      @media screen and (max-width: $extra-small) {
        padding: 10px 20px;
      }

      .comment-classname {
        font-size: 32px;
        margin: 20px 0;
        text-align: center;
      }

      #professor{
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 10px 20%;

        @media screen and (max-width: $extra-small) {
          margin: 0 0 10px 0;
        }

        p {
          text-align: right;
          padding-right: 20px;
          width: 30%;

          @media screen and (max-width: $extra-small) {
            text-align: center;
          }
        }

        #professor-selection{
          width: 30%;
          float: left;
          font-weight: 300;

          @media screen and (max-width: $extra-small) {
            width: 60%;
          }
        }
      }

      .close-icon {
        font-size: 25px;
        font-weight: 300;
        color: whitesmoke;
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }

    .modal-form {
      width: 100%;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 300;

      .required {
        color: $bad;
      }

      .row {
        margin: 8px;
      }

      .col-md-4 {
        text-align: right;
        @media screen and (max-width: $small) {
          text-align: left;
        }
        @media screen and (max-width: $extra-small) {
          text-align: left;
        }
      }

      .sem {
        padding: 0px;
        margin: 0px;

        .row {
          margin: 0px;

          @media screen and (max-width: $large) {
            .col-md-6:nth-child(1) {
              padding-right: 5px;
            }

            .col-md-6:nth-child(2) {
              padding-left: 5px;
            }
          }
          @media screen and (max-width: $small) {
            .col-md-6:nth-child(1) {
              width: 50%;
            }

            .col-md-6:nth-child(2) {
              width: 50%;
            }
          }
          @media screen and (max-width: $extra-small) {
            .col-md-6:nth-child(1) {
              width: 50%;
            }

            .col-md-6:nth-child(2) {
              width: 50%;
            }
          }
        }
      }

      .rating-stars {
        ul {
          padding: 0;
          margin: 5px 0 0 0;
          list-style-type: none;
          -moz-user-select:none;
          -webkit-user-select:none;
          text-align: left;

          li.star {
            padding-right: 5px;
            display:inline-block;

            i.fa {
              font-size: 25px;
              color: lightgray;
            }
          }

          li.star.hover i.fa {
            color: $star;
          }

          li.star.selected i.fa {
            color: $star;
          }
        }
      }

      .workload-pens {
        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
          -moz-user-select:none;
          -webkit-user-select:none;
          text-align: left;

          li.pen {
            padding-right: 6px;
            display:inline-block;

            i.fa {
              font-size: 25px;
              color: lightgray;
            }
          }

          li.pen.hover i.fa {
            color: $workload;
          }

          li.pen.selected i.fa {
            color: $workload;
          }
        }
      }

      input, select, textarea {
        width: 100%;
        padding: 7px;
        font-weight: 300;
        padding-left: 10px;
        @include border-radius(3px);
      }

      textarea {
        height: 80px;
      }

      *:focus {outline: none;}

      .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }

      .bootstrap-tagsinput {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        display: inline-block;
        padding: 4px 6px;
        color: #555;
        vertical-align: middle;
        border-radius: 4px;
        min-width: 100%;
        line-height: 22px;
        cursor: text;
      }
      .bootstrap-tagsinput input {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 6px;
        margin: 10px 0 0 0;
        width: auto;
        min-width: 100%;
      }

      .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: white;
        background-color: #5BC0DE;
        display: inline-block;
      }
    }

    #error {
      color: $bad;
      text-align: center;
      font-size: 15px;
    }

    .comment-footer {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 300;

      button {
        width: 100px;
        margin: 5px;
      }
    }
  }

  .card-columns {
    @include content-columns(3);
    position: relative;
    top: -100px;
    max-height: 100vh;
    overflow: auto;
    clear: both;

    @media screen and (max-width: $large) {
      @include content-columns(2);
    }
    @media screen and (max-width: $small) {
      @include content-columns(1);
      top: -60px;
    }
    @media screen and (max-width: $extra-small) {
      @include content-columns(1);
      top: -300px;
    }

    .good {
      border-left: 7px solid $good;
      background-color: transparent;
    }

    .neutral {
      border-left: 7px solid $neutral;
      background-color: transparent;
    }

    .bad {
      border-left: 7px solid $bad;
      background-color: transparent;
    }

    .card {
      margin: 10px 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1);

      .list-group {
        border: none;
        font-size: 15px;

        a {
          @include border-radius(3px);
          color: white;
          padding: 5px;
          margin: 0 5px 5px 0;
          display: inline-block;
        }
      }

      .fa-star {
        color: $star;
      }

      .fa-pencil {
        color: $workload;
      }
    }
  }
}

