#bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/backimg-1.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/backimg-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.card{
/*    text-align: center;*/
    
    margin: 15vh auto;
    border-radius: 10px;
    width: 50%;
}

.title {
    background-color: #e67e22;
    color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    margin-top: 0 !important;
}

.card-body {
    margin-top: 30px;
}

.section-form{
    margin: 0 10%;
}



input,select,textarea{
    font-weight: 300;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/*.sem {*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/

.sem .row {
    margin: 0px;
}

.sem .row .col-md-6:nth-child(1) {
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
}

.sem .row .col-md-6:nth-child(2) {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}

label{
/*    margin: 0 auto;*/
    width: 100%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 25px;
}

.card-title{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 0;
}

.button-addcourse{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.btn-addcourse{
    margin: 0 100px;
}



.buton {
    margin: 20px 10px;
    width: 100px;
}

.required {
    color: #EE3B3B;
}

@media screen and (max-width: 1023px) {
    .section-form{
        margin: 0;
    }

    label{
    /*    margin: 0 auto;*/
        width: 100%;
        text-align: left;
    }

    .card{
        width: 80%;
    }

    .sem .row .col-md-6 {
        width: 50%;
    }

}

@media screen and (max-width: 767px) {
    .section-form{
        margin: 0;
    }

    label{
    /*    margin: 0 auto;*/
        width: 100%;
        text-align: left;
    }

    .card{
        width: 80%;
    }

    .sem .row .col-md-6 {
        width: 50%;
    }

}

@media screen and (max-width: 480px) {
    .section-form{
        margin: 0;
    }

    .card{
        width: 80%;
    }

    .col-sm-4 {
        text-align: left;
    }

    .sem .row .col-md-6 {
        width: 50%;
    }
}