html{
    height: 100%;
}
body{
    /*min-height:100%;*/
    margin:0;
    padding:0;
    position:relative;
}


.body-main{
    /*min-height: 100vh;*/
    /*padding-bottom:150px;*/
}


.nav-child{
    margin-top: 60px;
    max-width: 1140px;
    margin: 60px auto;
    margin-bottom: 0px;
    background-color: #fff !important;
    padding-left: 6px;
    padding-right: 0;
    border-bottom: 2px solid #eae9e9;
}

#sort-alphabetical,
#sort-school{
    max-width: 1140px;
    margin: 10px auto;
    text-align: center;
}

#sort-alphabetical a,
#sort-school a{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 300;
}

/*department card*/
#department-card,
#subject-card,
#professor-card,
#course-card{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 20px;
    /*margin-bottom: 40px;*/
}

.card{
    width: 350px;
    display: inline-block;
    border-radius:5px;
    border-left: 2px solid #e67e22;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 3px #efefef;
    box-shadow: 0 3px 3px #efefef;
    height: 120px;   
}



.selected{
    color: #e67e22 !important;
}


.card-title{
    font-size: 20px;
    font-weight: 300;
    
}

.btn{
   font-weight: 300; 
}

.btn:hover{
    background-color: #3d7eb5
}

.btn-card{
    background-color: #55affc;
    border: none;
}

.card-body-p{
    float: left;
    margin: 25px 0px;
    color: #000000;
}

.p-photo{
    border-radius: 90px;
    float: left;
    margin: 15px 20px;
}

.nav-buttom{
    /*margin-top: -115px;*/
    /*margin-bottom: 200px;*/
    padding-bottom: 20px;
}

.c-number{
    width: 300px;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    color: #000000;
}
.c-name{
    font-size: 20px;
    margin: 0;
    width: 300px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    color: #000000;
}

/*.c-number:hover, .c-name:hover{*/
    /*color: darkslateblue;*/
/*}*/

.c-all:hover * {
    color: darkslateblue;
}

.c-subject{
    color: #d1d1d1;
    width: 300px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    margin-top:0px;
}

.d-name, 
.s-name{
    width: 300px;
    height: 25px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.p-name,
.p-department{
    width: 200px;
    height: 25px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.card-body-p:hover{
    color: darkslateblue;
    cursor: pointer;
}

.page-item{
    color: #55affc;
}
/*.navbar-brand{*/
    /*float: left;*/
/*}*/
.addCourse{
    float:right;
    color: #fefefe;
}