{% extends "base.html" %}

{% block head_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body_header %}
        <header>
            <nav class="sticky">
                <div class="row">
                    <img src="{{ url_for('static', filename='img/icon_mask.png') }}" alt="logo" class="logo">
                    <ul class="main-nav mr-auto">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('department') }}">Department</a></li>
                    </ul>
                    <ul class="main-nav">
                        {%- if current_user.is_authenticated -%}
                        <div class="dropdown">
                            <button class="dropbtn"><li class="loginall1"><img class="user-logo" src="{{current_user.avatar}}?sz=50" width="50" height="50" alt="{{current_user.name}}"> {{current_user.name}}</li></button>
                            <div class="dropdown-content">
                                <ul>
                                    {% for membership in current_user.memberships %}
                                        {% if membership.role.name == 'student' %}
                                    <li><a href="{{ url_for('student') }}">My Less0n (Student)</a></li>
                                        {% endif %}
                                        {% if membership.role.name == 'instructor' %}
                                    <li><a href="#">My Less0n (Instructor)</a></li>
                                        {% endif %}
                                        {% if membership.role.name == 'admin' %}
                                    <li><a href="{{ url_for('admin') }}">My Less0n (Admin)</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li><a href="{{ url_for('logout') }}?redirect={{ request.path }}">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                        {%- else -%}
                        <li><a href="{{ url_for('login') }}?redirect={{ request.path }}">Sign in with Lionmail</a></li>
                        {%- endif -%}
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>
        </header>
{% endblock %}

{% block body_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/base2.js') }}"></script>
        {% block body2_js %}{% endblock %}
{% endblock %}
