{% extends "base2.html" %}

{% block head_meta %}
        <title>Less0n - {{ dept.name }}</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/department-course.css') }}">
{% endblock %}

{% block body_main %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="dept-info">
                    <h1 class="display-5">Department of {{ dept.name }}</h1>
                    <p class="lead">Website: <a href="{{ dept.url }}" target="_blank">{{ dept.url }}</a></p>
                    <form action="{{ url_for('add_new_course') }}" class="form-inline my-2 my-lg-0" method="GET">
                        <button id="add-course" class="btn btn-outline-success my-2 my-sm-0" type="submit">+ Add Course</button>
                        <input type="hidden" name="redirect" value="{{ request.path }}" />
                    </form>
                </div>
            </div>
        </div>

        <div id="sortby" class="container">
            <form>
                <select class="form-control">
                    <option value="coursenum">Sort by Course Number</option>
                    <option value="popularity">Sort by Popularity</option>
                    <option value="rating">Sort by Rating</option>
                    <option value="grade">Sort by Grade</option>
                    <option value="workload">Sort by Workload</option>
                </select>
            </form>
        </div>

        <div class="container cardcol">
            <div class="row">
            {% for course, statistics in courses.items() %}
                <div class="grid col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}" class="coursecode">{{ course.subject_id }} {{ course.number }}</a></h3>
                            <h4 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}">{{ course.name }}</a></h4>
                            <p class="card-text">Subject: {{ course.subject.name }}</p>
                            <div class="btn rating" data-stat-value="{{ statistics['rating'] }}">Rating: {{ '%0.2f' % statistics['rating'] if statistics['rating'] >= 0 else 'N/A' }}</div>
                            <div class="btn grade" data-stat-value="{{ statistics['grade'] }}">Grade: {{ '%0.2f' % statistics['grade'] if statistics['grade'] >= 0 else 'N/A' }}</div>
                            <div class="btn workload" data-stat-value="{{ statistics['workload'] }}">Workload: {{ '%0.2f' % statistics['workload'] if statistics['workload'] >= 0 else 'N/A' }}</div>
                            <div class="btn comment">Comments: {{ statistics['comment'] }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}

{% block body2_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/department-course.js') }}"></script>
        <script type="text/javascript">
            $('#add-course').on('click', function() {
                {%- if not current_user.is_authenticated -%}
                    $("form").submit(function(e){
                        e.preventDefault();
                    });
                    $.notify({
                        message: 'Please <a id="notif" href="{{ url_for('login') }}?redirect={{ request.path }}">sign in</a> with your Lionmail before adding a course.'
                    },{
                        element: 'body',
                        position: 'fixed',
                        type: "danger",
                        allow_dismiss: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 60,
                        spacing: 10,
                        z_index: 1031,
                        delay: 3000,
                        timer: 1000,
                        url_target: '_blank',
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        },
                        onShow: null,
                        onShown: null,
                        onClose: null,
                        onClosed: null,
                        icon_type: 'class',
                        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            '</div>' +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                        '</div>'
                    });
                {%- endif -%}
            });
        </script>
{% endblock %}
