{% extends "base2.html" %}

{% block head_meta %}
        <title>Less0n</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/department.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/depq.css') }}">
{% endblock %}

{% block head_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js"></script>
{% endblock %}

{% block body_main %}
    <div class="body-main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-child">
            <a class="navbar-brand" href="#">List of Department</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <form action = '/department' class="form-inline my-2 my-lg-0" method = "POST">
                    <input class="form-control mr-sm-2" type="search" placeholder="Keywords of Department" aria-label="Search" name = dept_keyword>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <section id="sort-alphabetical" data-filter-group="dept">
            <a class="selected" id="All">ALL</a>
            <a data-filter-min="A" data-filter-max="F" id="A-F">A - F</a>
            <a data-filter-min="G" data-filter-max="L" id="G-L">G - L</a>
            <a data-filter-min="M" data-filter-max="R" id="M-R">M - R</a>
            <a data-filter-min="S" data-filter-max="Z" id="S-Z">S - Z</a>
        </section>

        <div class="row" id="alphabetical-card">
        {% for dept in depts %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 isotope-item" data-dept="{{ dept.id[0] }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ dept.name }}</h5>
                        <p class="card-text"></p>
                        <a href="{{ url_for('department_course', dept_arg=dept.id) }}" class="btn btn-primary">See all <i>{{ dept.courses|length }}</i> courses</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
        <nav class="nav-buttom" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
{% endblock %}

{% block body2_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/department.js') }}"></script>
{% endblock %}
