{% extends "base2.html" %}

{% block head_meta %}
        <title>Less0n - {{ prof.name }}</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/faculty-page.css') }}">
{% endblock %}

{% block body_main %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="faculty-pic">
                    {% if prof.avatar %}
                        <img src="{{ prof.avatar }}" alt="{{ prof.name }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/icon_square.png') }}" alt="{{ prof.name }}">
                    {% endif %}
                </div>
                <div class="faculty-info">
                    <h1 class="display-4">{{ prof.name }}</h1>
                    <p class="lead">Department: {{ prof.department.name }}</p>
                    <p class="lead">Website: <a href="{{ prof.url }}" target="_blank">{{ prof.url }}</a></p>
                </div>
            </div>
        </div>

        <div class="statistics">
            <div class="row">
                <div class="stats_box col-md-6">
                    <div id="tag_list" class="stats_box_content">
                        <div class="tags">
                            {% for tag in prof_stats['tags'] %}
                            <a>{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="stats_box col-md-6">
                    <div id="bar_stats" class="stats_box_content">
                        <div class="stat">Ratings: <span id="rating_num">{{ 'N/A' if prof_stats['rating'] < 0 else '%0.2f' % prof_stats['rating'] }}</span></div>
                        <div class="progress">
                            <div id="rating_progress_bar" class="progress_bar"></div>
                        </div>
                        <div class="stat">Grade: <span id="grade_num">{{ 'N/A' if prof_stats['grade'] < 0 else '%0.2f' % prof_stats['grade'] }}</span></div>
                        <div class="progress">
                            <div id="grade_progress_bar" class="progress_bar"></div>
                        </div>
                        <div class="stat">Workload: <span id="workload_num">{{ 'N/A' if prof_stats['workload'] < 0 else '%0.2f' % prof_stats['workload'] }}</span></div>
                        <div class="progress">
                            <div id="workload_progress_bar" class="progress_bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sortby" class="container">
            <form>
                <select class="form-control">
                    <option value="coursenum">Sort by Course Number</option>
                    <option value="popularity">Sort by Popularity</option>
                    <option value="rating">Sort by Rating</option>
                    <option value="grade">Sort by Grade</option>
                    <option value="workload">Sort by Workload</option>
                </select>
            </form>
        </div>

        <div class="container cardcol">
            <div class="row">
            {% for course, statistics in courses.items() %}
                <div class="grid col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}">{{ course.subject_id }} {{ course.number }}</a></h3>
                            <h4 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}">{{ course.name }}</a></h4>
                            <p class="card-text"><a href="{{ url_for('department_course', dept_arg=course.department.id) }}">Department: {{ course.department.name }}</a></p>
                            <p class="card-text">Subject: {{ course.subject.name }}</p>
                            <div class="btn rating">Rating: {{ 'N/A' if statistics['rating'] < 0 else '%0.2f' % statistics['rating'] }}</div>
                            <div class="btn grade">Grade: {{ 'N/A' if statistics['grade'] < 0 else '%0.2f' % statistics['grade'] }}</div>
                            <div class="btn workload">Workload: {{ 'N/A' if statistics['workload'] < 0 else '%0.2f' % statistics['workload'] }}</div>
                            <div class="btn comment">Comments: {{ statistics['comment'] }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}

{% block body2_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/faculty-page.js') }}"></script>
{% endblock %}