{% extends "base2.html" %}

{% block head_meta %}
        <title>Less0n - Student</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
{% endblock %}

{% block body_main %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="course-title">
                    <h3 class="display-4">{{ current_user.name }}'s Less0n</h3>
                    <h4 class="display-5">{{ current_user.email }}</h4>
                </div>
            </div>
        </div>

        <div class="statistics container">
            <div class="row">
                <div class="stats_box tab col-md-2">
                    <button class="tablinks" onclick="switchTab(event, 'course_tab')" id="defaultOpen">Course Requests (<span id="cnum"></span>)</button>
                    <button class="tablinks" onclick="switchTab(event, 'professor_tab')">Instructor Requests (<span id="pnum"></span>)</button>
                </div>

                <div class="stats_box col-md-10">
                    <div id="course_tab" class="tabcontent">
                        <h3>Course Requests</h3>
                        <table id="tabCourse" class="table">
                            <tr>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Course No.</th>
                                <th>Course Name</th>
                                <th>Department</th>
                                <th>Semester</th>
                                <th>Status</th>
                            </tr>
                        </table>
                    </div>

                    <div id="professor_tab" class="tabcontent">
                        <h3>Instructor Requests</h3>
                        <table id="tabProf" class="table">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Course</th>
                                <th>Semester</th>
                                <th>Status</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>{{ current_user.name }}'s Comments</h2>
        </div>

        <!-- Add comment form -->
        <div class="modal fade bd-example-modal-lg" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form method="post" action="{{ url_for('student_update_comment') }}" class="comment-form modal-form">
                        <div class="comment-bar">
                            <div class="comment-classname">Edit a Comment for <span class="cmt_course"></span></div>
                            <input class="cmt_course" type="hidden" name="course" value="" required>
                            <div id="professor">
                                <p>Instructor: <span id="cmt_prof"></span></p>
                                <p class="reminder">* Should you wish to evaluate another course or instructor<br>please delete this evaluation and post a new one.</p>
                            </div>
                            <button type="button" class="close close-icon" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <div class="section-form">
                            <div>
                                <input type="hidden" name="comment-id" class="form-control">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Comment Title</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="title" placeholder="Title" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="semester" class="control-label">Semester <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8 sem">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select name="year" id="year" class="form-control" required>
                                                    <option value="{{ now.year }}" selected>{{ now.year }}</option>
                                                    {% for y in range(now.year - 1, now.year - 5, -1) %}
                                                    <option value="{{ y }}">{{ y }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select name="semester" id="semester" class="form-control" required>
                                                    <option value="Fall">Fall</option>
                                                    <option value="Spring">Spring</option>
                                                    <option value="Summer">Summer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="grade">Grade <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select name="grade" id="grade" class="form-control" required>
                                            <option value="" selected="true" disabled="disabled">Choose your grade</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="B-">B-</option>
                                            <option value="C+">C+</option>
                                            <option value="C">C</option>
                                            <option value="C-">C-</option>
                                            <option value="D">D</option>
                                            <option value="F">F</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="rating">Rating <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class='rating-stars text-center'>
                                            <ul id='stars'>
                                                <li class='star' title='Poor' data-value='1'>
                                                    <i class='fa fa-star'></i>
                                                </li>
                                                <li class='star' title='Fair' data-value='2'>
                                                    <i class='fa fa-star'></i>
                                                </li>
                                                <li class='star' title='Good' data-value='3'>
                                                    <i class='fa fa-star'></i>
                                                </li>
                                                <li class='star' title='Excellent' data-value='4'>
                                                    <i class='fa fa-star'></i>
                                                </li>
                                                <li class='star' title='WOW!!!' data-value='5'>
                                                    <i class='fa fa-star'></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="rating" id="rating" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="workload">Workload <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-8 penswork">
                                        <div class='workload-pens text-center'>
                                            <ul id='pens'>
                                                <li class='pen' title='WOW!!' data-value='1'>
                                                    <i class='fa fa-pencil'></i>
                                                </li>
                                                <li class='pen' title='Comfortable' data-value='2'>
                                                    <i class='fa fa-pencil'></i>
                                                </li>
                                                <li class='pen' title='Fair' data-value='3'>
                                                    <i class='fa fa-pencil'></i>
                                                </li>
                                                <li class='pen' title='Tired' data-value='4'>
                                                    <i class='fa fa-pencil'></i>
                                                </li>
                                                <li class='pen' title='Heavy!!' data-value='5'>
                                                    <i class='fa fa-pencil'></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="workload" id="workload" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="tags">Tags</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name="tags" data-role="tagsinput" id="tags" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Drop us a line</label>
                                    </div>
                                    <div class="col-md-8 span-2-of-3">
                                        <textarea name="message" placeholder="Your message" class="form-control"></textarea>
                                    </div>
                                </div>
                                <p id="error"></p>
                            </div>
                        </div>
                    </div>
                        <div class="comment-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form method="POST" action="{{ url_for('student_delete_comment') }}" class="delete-form modal-form">
                        <div class="comment-bar">
                            <div class="comment-classname">Delete a Comment for <span class="cmt_course"></span></div>
                            <button type="button" class="close close-icon" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <div class="section-form">
                            <input type="hidden" name="comment-id" class="form-control">
                            <p class="delete-notice">Are you sure to delete this comment?<br> * Should you wish to evaluate another course or instructor<br>please delete this evaluation and post a new one.</p>
                        </div>
                    </div>
                        <div class="comment-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container card-columns">
        </div>
{% endblock %}

{% block body2_js %}
        <script type="text/javascript">
            const GET_ALL_CRS_REQ = "{{ url_for('student_list_course_request') }}?approved=1&pending=1&declined=1";
            const GET_ALL_PROF_REQ = "{{ url_for('student_list_prof_request') }}?approved=1&pending=1&declined=1";
            const GET_ALL_COMMENT = "{{ url_for('student_list_comment') }}";
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js"></script>
        <script src="{{ url_for('static', filename='js/student.js')}}"></script>
        <script type="text/javascript">
            $.ajax({
                type: 'GET',
                url: GET_ALL_CRS_REQ,
                dataType: 'json',
                success: function(data) {
                    renderCourseRequest(data);
                }
            });

            $.ajax({
                type: 'GET',
                url: GET_ALL_PROF_REQ,
                dataType: 'json',
                success: function(data) {
                    renderProfRequest(data);
                }
            });

            $.ajax({
                type: 'GET',
                url: GET_ALL_COMMENT,
                dataType: 'json',
                success: function(data) {
                    renderComment(data);
                }
            });
        </script>
{% endblock %}